header .navbar-brand {
  padding: 0;
  margin: 0;
}
header .navbar-brand > .row {
  margin: 0 -2.5%;
}
header .navbar-brand > .row > .col {
  padding: 0 2.5%;
}
header .navbar-brand > .row > .col:first-child {
  max-width: calc(20%);
}
header .navbar-brand > .row > .col:first-child + .col {
  max-width: calc(55%);
}
header .navbar-brand > .row > .col:first-child + .col + .col {
  max-width: calc(25%);
}